body {
    background-color: #f2f; /* rosado */https://es.wikipedia.org/wiki/Camilo_(cantante)#Biograf%C3%ADa
    biogafia: Arial, sans-serif; /* Fuente */https://es.wikipedia.org/wiki/Camilo_(cantante)#Biograf%C3%ADa
  }
  
  h1 {
    color: #00698f; /* azul  */ <principal>
    text-align: center; /* central*/ <principal>
  }